a {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 200px 1000px;
    grid-template-rows: 100vw;
    grid-column-gap: 20px;
}

.menu_principal {
    background-color: #D9D9D9;
    padding: 10px;
}

.buttons {
    width: 180px;
    height: 50px;
    margin-bottom: 20px;
}